In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
from datetime import datetime

In [2]:
# loading announcements
mazda=pd.read_json('dataset_mazda.json')

### text cleaning to gain classification (dictionary values)

In [8]:
# the column "lokalizacja" contains the description of the location, but it is different for each record
mazda[['lokalizacja']].head()

                                            lokalizacja
0                           Piła, pilski, Wielkopolskie
1                        Kwidzyn, kwidzyński, Pomorskie
10    Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...
100                   Gdańsk, Pomorskie, Przymorze Małe
1000  Estrady 14 - 05-080 Klaudyn, warszawski zachod...

###### preparing the values (list of regions)

In [9]:
# list
regions = ['Dolnoslaskie', 'Kujawsko-pomorskie', 'Lubelskie', 'Lubuskie', 'Lodzkie',
'Malopolskie', 'Mazowieckie', 'Opolskie', 'Podkarpackie', 'Podlaskie', 'Pomorskie',
'Slaskie', 'Swietokrzyskie', 'Warminsko-mazurskie', 'Wielkopolskie', 'Zachodniopomorskie']

In [10]:
# extra column
mazda = mazda.assign(lokalizacja_wojewodztwo = mazda['lokalizacja']) #.str.lower())

# text unification
mazda['lokalizacja_wojewodztwo'].replace({'ś':'s'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Ś':'S'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'ą':'a'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'ł':'l'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Ł':'L'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'ó':'o'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'ę':'e'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'ń':'n'},regex=True, inplace=True)

In [11]:
mazda[['lokalizacja','lokalizacja_wojewodztwo']].head()

,lokalizacja,lokalizacja_wojewodztwo
0,"Piła, pilski, Wielkopolskie","Pila, pilski, Wielkopolskie"
1,"Kwidzyn, kwidzyński, Pomorskie","Kwidzyn, kwidzynski, Pomorskie"
10,"Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...","Aleja Krakowska 169 - 02-180 Warszawa, Wlochy ..."
100,"Gdańsk, Pomorskie, Przymorze Małe","Gdansk, Pomorskie, Przymorze Male"
1000,"Estrady 14 - 05-080 Klaudyn, warszawski zachod...","Estrady 14 - 05-080 Klaudyn, warszawski zachod..."

###### assigning uniform values

In [12]:
# searching for a value from the list in the description
for val in mazda['lokalizacja_wojewodztwo']:
    for reg in regions:
        if reg in val:
            #mazda['lokalizacja_wojewodztwo'].loc[( mazda['lokalizacja_wojewodztwo'] == val)] = reg # also work
            mazda['lokalizacja_wojewodztwo'].replace(val,reg, inplace=True)

In [13]:
 mazda[['lokalizacja','lokalizacja_wojewodztwo']].head()

,lokalizacja,lokalizacja_wojewodztwo
0,"Piła, pilski, Wielkopolskie",Wielkopolskie
1,"Kwidzyn, kwidzyński, Pomorskie",Pomorskie
10,"Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...","Aleja Krakowska 169 - 02-180 Warszawa, Wlochy ..."
100,"Gdańsk, Pomorskie, Przymorze Małe",Pomorskie
1000,"Estrady 14 - 05-080 Klaudyn, warszawski zachod...",Mazowieckie

In [14]:
# marking values from outside the list as "inne"
mazda['lokalizacja_wojewodztwo'] = mazda['lokalizacja_wojewodztwo'].apply(lambda x: 'inne' if x not in regions else x)

In [15]:
 mazda[['lokalizacja','lokalizacja_wojewodztwo']].head()

,lokalizacja,lokalizacja_wojewodztwo
0,"Piła, pilski, Wielkopolskie",Wielkopolskie
1,"Kwidzyn, kwidzyński, Pomorskie",Pomorskie
10,"Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...",inne
100,"Gdańsk, Pomorskie, Przymorze Małe",Pomorskie
1000,"Estrady 14 - 05-080 Klaudyn, warszawski zachod...",Mazowieckie

In [16]:
 mazda['lokalizacja_wojewodztwo'].unique()

array(['Wielkopolskie', 'Pomorskie', 'inne', 'Mazowieckie',
       'Swietokrzyskie', 'Malopolskie', 'Lodzkie', 'Lubelskie', 'Slaskie',
       'Opolskie', 'Kujawsko-pomorskie', 'Warminsko-mazurskie',
       'Lubuskie', 'Dolnoslaskie', 'Podkarpackie', 'Zachodniopomorskie',
       'Podlaskie'], dtype=object)

In [17]:
# how many "inne" items do we have?
# over 1000 records has not name of region in description of location
mazda.groupby(by=['lokalizacja_wojewodztwo']).size().sort_values()

lokalizacja_wojewodztwo
Opolskie                 96
Warminsko-mazurskie     103
Podlaskie               124
Zachodniopomorskie      134
Swietokrzyskie          144
Lubuskie                164
Podkarpackie            170
Lubelskie               213
Pomorskie               240
Kujawsko-pomorskie      242
Lodzkie                 282
Dolnoslaskie            350
Malopolskie             354
Wielkopolskie           579
Slaskie                 627
Mazowieckie             750
inne                   1089
dtype: int64

In [18]:
mazda['lokalizacja'][( mazda['lokalizacja_wojewodztwo'] == 'inne')]

10      Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...
1003    ul. Górczewska 30 - 01-147 Warszawa, Wola (Pol...
1004      Mińska 41a - 54-610 Wrocław, Fabryczna (Polska)
1005    ul. Górczewska 30 - 01-147 Warszawa, Wola (Pol...
1006      Mińska 41a - 54-610 Wrocław, Fabryczna (Polska)
1009    Sw Michała  20 - 61-023 Poznań, Nowe Miasto (P...
1037    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1038    DŹBOWSKA  66 - 42-202 Częstochowa, Stradom (Po...
1040        Rosoła 55 - 02-786 Warszawa, Ursynów (Polska)
1044    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1045    Sw Michała  20 - 61-023 Poznań, Nowe Miasto (P...
1046      Mińska 41a - 54-610 Wrocław, Fabryczna (Polska)
1047      Mińska 41a - 54-610 Wrocław, Fabryczna (Polska)
1049    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1050    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1051    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1052    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1055    ul.Jasnogórska 38 - 31-358 Kraków, Krowodrza (...
1058    Sw Michała  20 - 61-023 Poznań, Nowe Miasto (P...
106      Reymonta 1a - 15-868 Białystok, Centrum (Polska)
1062    al. Krakowska 169 - 02-180 Warszawa, Włochy (P...
1063    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1064    Al. Jana Pawła II nr. 52, lok. 206 - 15-703 Bi...
1065    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1066    al. Krakowska 169 - 02-180 Warszawa, Włochy (P...
1068        Rosoła 55 - 02-786 Warszawa, Ursynów (Polska)
1069    Powstańców Warszawy 32 - 42-200 Częstochowa, D...
1071    Powstańców Warszawy 32 - 42-200 Częstochowa, D...
1072    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
1074    Gen. Stanisława Maczka 136 - 15-691 Białystok,...
                              ...
791     św. Michała 20 - 61-023 Poznań, Nowe Miasto (P...
795     Pratulińska 18 - 03-511 Warszawa, Targówek (Po...
802     Gen. Stanisława Maczka 136 - 15-691 Białystok,...
806     Warszawska 311 - 43-155 Bieruń, Bieruń Nowy (P...
844     Lotnicza 3/5 - 04-192 Warszawa, Praga-Południe...
847     Aleja Grunwaldzka 260 - 80-314 Gdańsk, Oliwa (...
86      Aleja Roździeńskiego 91 - 40-203 Katowice, Bog...
874      Reymonta 1a - 15-868 Białystok, Centrum (Polska)
882     Gen. Stanisława Maczka 136 - 15-691 Białystok,...
897     SIEWIERSKA 197a - 42-400 Zawiercie, Kromołów (...
906     Chwaszczyńska 178 - 81-571 Gdynia, Dąbrowa (Po...
917        Górczewska 32 - 01-147 Warszawa, Wola (Polska)
926        Górczewska 32 - 01-147 Warszawa, Wola (Polska)
927     Bugajska 6/8 - 42-208 Częstochowa, Błeszno (Po...
928     Bugajska 6/8 - 42-208 Częstochowa, Błeszno (Po...
93             3 Maja 1 m 3 - 93-408 Łódź, Górna (Polska)
932     Lotnicza 3/5 - 04-192 Warszawa, Praga-Południe...
933     ul. Oceaniczna wjazd od ul. Zabłudowskiej - 15...
94      Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...
940      Partyzantów 7 - 43-180 Orzesze, Centrum (Polska)
949        Górczewska 32 - 01-147 Warszawa, Wola (Polska)
962         Kościelna 41 - 60-537 Poznań, Jeżyce (Polska)
964        Górczewska 32 - 01-147 Warszawa, Wola (Polska)
965     Druckiego-Lubeckiego 1A - 71-656 Szczecin, Zac...
971     Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...
972     Strażacka 63/65 - 04-462 Warszawa, Rembertów (...
974     Malownicza 29a - 02-272 Warszawa, Włochy (Polska)
977            Ordona 2a - 01-237 Warszawa, Wola (Polska)
997           Łużycka 9 - 81-537 Gdynia, Redłowo (Polska)
998             Ordona 2 - 01-237 Warszawa, Wola (Polska)
Name: lokalizacja, Length: 1089, dtype: object

###### preparing the values (list of cities)

In [19]:
# list
city = ['Warszawa', 'Wrocław', 'Poznań', 'Częstochowa', 'Gdynia',
'Białystok', 'Kraków', 'Szczecin', 'Katowice', 'Gdańsk', 'Łódź']

In [20]:
# reset index because I get some error on index nr 222
mazda = mazda.reset_index(drop=True)

In [21]:
# change "inne" for description of loaction
mazda['lokalizacja_wojewodztwo'][( mazda['lokalizacja_wojewodztwo'] == 'inne')] = mazda['lokalizacja'].apply(lambda x: x)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
mazda[['lokalizacja','lokalizacja_wojewodztwo']].head()

,lokalizacja,lokalizacja_wojewodztwo
0,"Piła, pilski, Wielkopolskie",Wielkopolskie
1,"Kwidzyn, kwidzyński, Pomorskie",Pomorskie
2,"Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...","Aleja Krakowska 169 - 02-180 Warszawa, Włochy ..."
3,"Gdańsk, Pomorskie, Przymorze Małe",Pomorskie
4,"Estrady 14 - 05-080 Klaudyn, warszawski zachod...",Mazowieckie

###### assigning uniform values second time

In [23]:
# searching for a value from the list in the description
for val in mazda['lokalizacja_wojewodztwo']:
    for ci in city:
        if ci in val:
            mazda['lokalizacja_wojewodztwo'].replace(val,ci, inplace=True)

In [24]:
mazda[['lokalizacja','lokalizacja_wojewodztwo']].head()

                                         lokalizacja lokalizacja_wojewodztwo
0                        Piła, pilski, Wielkopolskie           Wielkopolskie
1                     Kwidzyn, kwidzyński, Pomorskie               Pomorskie
2  Aleja Krakowska 169 - 02-180 Warszawa, Włochy ...                Warszawa
3                  Gdańsk, Pomorskie, Przymorze Małe               Pomorskie
4  Estrady 14 - 05-080 Klaudyn, warszawski zachod...             Mazowieckie

In [25]:
# change city for region
mazda['lokalizacja_wojewodztwo'].replace({'Warszawa':'Mazowieckie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Wrocław':'Dolnoslaskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Poznań':'Wielkopolskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Częstochowa':'Slaskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Gdynia':'Pomorskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Białystok':'Podlaskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Kraków':'Malopolskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Szczecin':'Zachodniopomorskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Katowice':'Slaskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Gdańsk':'Pomorskie'},regex=True, inplace=True)
mazda['lokalizacja_wojewodztwo'].replace({'Łódź':'Lodzkie'},regex=True, inplace=True)

In [26]:
# marking values from outside the list as "inne"
mazda['lokalizacja_wojewodztwo'] = mazda['lokalizacja_wojewodztwo'].apply(lambda x: 'inne' if x not in regions else x)

In [27]:
# only 62 records assigned as "inne"
mazda.groupby(by=['lokalizacja_wojewodztwo']).size().sort_values()

lokalizacja_wojewodztwo
inne                     62
Opolskie                 96
Warminsko-mazurskie     103
Swietokrzyskie          144
Lubuskie                164
Podkarpackie            170
Zachodniopomorskie      173
Lubelskie               213
Kujawsko-pomorskie      242
Podlaskie               249
Lodzkie                 320
Pomorskie               352
Malopolskie             401
Dolnoslaskie            410
Wielkopolskie           615
Slaskie                 760
Mazowieckie            1187
dtype: int64

In [28]:
mazda['lokalizacja'][( mazda['lokalizacja_wojewodztwo'] == 'inne')]

136     Staromiejska 33 - 43-190 Mikołów, Paniowy (Pol...
208     PADEREWSKIEGO 124 - 42-400 Zawiercie, Warty (P...
266      Portowa 2 - 44-100 Gliwice, Śródmieście (Polska)
457     Spółdzielcza 38 - 58-500 Jelenia Góra, Centrum...
458     ROLNICZA 33 - 42-400 Zawiercie, Marciszów (Pol...
503     ul. Jeziorska➠Zawadzka 3 - 43-180 Orzesze, Cen...
509     Gliwicka 135A - 43-190 Mikołów, Śmiłowice (Pol...
589     wróblewskiego 27 - 42-506 Będzin, Grodziec (Po...
770     White House Business Centre Wilderspool Busine...
996     ul. Kozielska 82 - 44-121 Gliwice, Śródmieście...
1161    Pszczyńska 107A - 44-100 Gliwice, Politechnika...
1298    SIEWIERSKA 197a - 42-400 Zawiercie, Kromołów (...
1426    Tarnogórska 55 - 44-100 Gliwice, Śródmieście (...
1433          Małobądz - 42-500 Będzin, Małobądz (Polska)
1496    Al. Niepodległości 635 - 81-855 Sopot, Centrum...
1701    Okopowa 1 ( wjazd od ul. Zgorzeleckiej ) - 58-...
1779    ZGODY 20 (PRZY UL GLIWICKIEJ) - 43-190 Mikołów...
1883    Wolności 121 - 58-500 Jelenia Góra, Centrum (P...
1886    Staromiejska 33 - 43-190 Mikołów, Paniowy (Pol...
1998    Staromiejska 33 - 43-190 Mikołów, Paniowy (Pol...
2040    Staromiejska 33 - 43-190 Mikołów, Paniowy (Pol...
2043    Pszczyńska 107A - 44-100 Gliwice, Politechnika...
2052    Stanisława Wyspiańskiego 49 - 47-206 Kędzierzy...
2070    Spółdzielcza 38 - 58-500 Jelenia Góra, Centrum...
2332    PADEREWSKIEGO 124 - 42-400 Zawiercie, Warty (P...
2670    SIEWIERSKA 197a - 42-400 Zawiercie, Kromołów (...
2816          Małobądz - 42-500 Będzin, Małobądz (Polska)
2843          Małobądz - 42-500 Będzin, Małobądz (Polska)
2875          Małobądz - 42-500 Będzin, Małobądz (Polska)
2881          Małobądz - 42-500 Będzin, Małobądz (Polska)
                              ...
3203    ul. Os.Dziekana - 41-253 Czeladź, Piaski (Polska)
3409    ul. Siewierska, nr 197B - 41-431 Zawiercie, Kr...
3638    Gliwicka 135A - 43-190 Mikołów, Śmiłowice (Pol...
3747    Pszczyńska 107A - 44-100 Gliwice, Politechnika...
3833    PADEREWSKIEGO 124 - 42-400 Zawiercie, Warty (P...
3857    SIEWIERSKA 197a - 42-400 Zawiercie, Kromołów (...
3936    PADEREWSKIEGO 124 - 42-400 Zawiercie, Warty (P...
4113    UL. WARSZAWSKA 137 - 43-155 Bieruń, Bieruń Now...
4120    Pszczyńska 107A - 44-100 Gliwice, Politechnika...
4217    SIEWIERSKA 197a - 42-400 Zawiercie, Kromołów (...
4347    Ignacego Paderewskiego 112b - 42-400 Zawiercie...
4441    Spółdzielcza 38 - 58-500 Jelenia Góra, Centrum...
4626          Małobądz - 42-500 Będzin, Małobądz (Polska)
4627    K mostu 393 Stara ves nad Ondřejnici - 73923 N...
4644    ZGODY 20 (PRZY UL GLIWICKIEJ) - 43-190 Mikołów...
4647    Warszawska 311 - 43-155 Bieruń, Bieruń Nowy (P...
4743    ul. Pogorzelska 1 - 42-400 Zawiercie, Centrum ...
4756    SIEWIERSKA 197a - 42-400 Zawiercie, Kromołów (...
4809    ul. Siewierska, nr 197B - 41-431 Zawiercie, Kr...
4878      Uniemyśl 78 - 72-015 Police, Jasienica (Polska)
4887    ul. Łabędzia, 59 - 42-400 Zawiercie, Marciszów...
4994    MAŁOBĄDZKA 158 - 42-500 Będzin, Małobądz (Polska)
5051    Władysława Sikorskiego 6 - 44-103 Gliwice, Soś...
5093    UL. KOZIELSKA 64 - 47-224 Kędzierzyn-Koźle, Kę...
5267       Zawiercie - 42-400 Zawiercie, Zuzanka (Polska)
5299    Wojska Polskiego 1 - 43-190 Mikołów, Mokre (Po...
5432    Sarnowska 20 (obok stacji paliw i wulkanizacji...
5451    Warszawska 311 - 43-155 Bieruń, Bieruń Nowy (P...
5548    SIEWIERSKA 197a - 42-400 Zawiercie, Kromołów (...
5596     Partyzantów 7 - 43-180 Orzesze, Centrum (Polska)
Name: lokalizacja, Length: 62, dtype: object

In [ ]:
mazda.to_json(r'C:\...\dataset_mazda_v3.json')